.container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 0 10px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.rectangle {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: #ddd;
  @media (prefers-color-scheme: dark) {
    background-color: #666;
  }
}
.square {
  border-radius: 6px;
  height: 75px;
  width: 75px;
  background-color: #ddd;
  @media (prefers-color-scheme: dark) {
      background-color: #666;
  }
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: xx-large;
  line-height: 1em;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscriptions {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  // max-width: 400px;
}

.subscription {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;

    &__about {
        display: grid;
        grid-auto-flow: row;
        gap: 5px;
    }
    &__remaining {
      display: grid;
      grid-auto-flow: row;
      gap: 5px;

      &-text {
        display: flex;
        justify-content: space-between;
        & p {
          font-weight: lighter;
          font-size: smaller;
        }
      }

      &-bar {
        height: .5em;
        width: 100%;
        border-radius: 10px;
        background-color: #ddd;
        @media (prefers-color-scheme: dark) {
          background-color: #666;
        }
        &-content {
          height: 100%;
          background-color: yellow;
          border-radius: 10px;
          transition: width 200ms;
        }
      }
    }

    &__expired {
      font-style: italic;
      font-size: smaller;
    }
}

.shimmer {
  background-image: linear-gradient(
    90deg,
    #eee 0%,
    #eee 40%,
    #ddd 50%,
    #ddd 55%,
    #eee 65%,
    #eee 100%
  );
  background-size: 400%;
  animation: shimmer 1500ms infinite;
}

@media (prefers-color-scheme: dark) {
  .shimmer {
    background-image: linear-gradient(
      90deg,
      #666 0%,
      #666 40%,
      #777 50%,
      #777 55%,
      #666 65%,
      #666 100%
    );
  }
}

@keyframes shimmer {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}
