<div class="container">
  <h1>Subscriptions</h1>
  <span class="rectangle card" [ngClass]="{ 'shimmer': isLoading$ | async }">
    {{ (message$ | async) ? '' : '' }}
  </span>
  <!-- <span class="rectangle" [ngClass]="{ 'shimmer': isLoading$ | async }">{{ message }}</span> -->

  <h4 *ngIf="isLoading$ | async" class="rectangle" [ngClass]="{ 'shimmer': isLoading$ | async }" style="height: 1em;"></h4>

  <div *ngIf="isLoading$ | async" class="subscription">
    <span class="square shimmer"></span>
    <div style="display: grid; grid-auto-flow: row;">
      <section class="subscription__about">
        <h5 class="rectangle shimmer" style="height: 1em; flex-grow: 1;"></h5>
        <p class="rectangle shimmer" style="height: 30px; flex-grow: 1;"></p>
      </section>
  
      <span class="rectangle shimmer" style="height: 1em;  align-self: flex-end;"></span>
    </div>
  </div>

  <ng-container *ngIf="(isLoading$ | async) === false && (subscriptions$ | async)">
    <ng-container *ngIf="(subscriptions$ | async) as subscriptions">
      <ng-container *ngIf="subscriptions.length > 0">
        <div class="subscriptions">
          <h4>{{ subscriptions.length }} subscriptions</h4>
          <ng-container *ngFor="let subscription$ of subscriptions">
            <div *ngIf="(subscription$ | async) as subscription" class="subscription">
              <div class="square icon-container">
                <span class="icon {{ iconClass[subscription.subscriptionItem.icon] || '' }}"></span>
              </div>
              <div style="display: grid; grid-auto-flow: row;">
                <section class="subscription__about">
                  <h5>{{ subscription.subscriptionItem?.title }}</h5>
                  <p>{{ subscription.subscriptionItem?.description }}</p>
                </section>
            
                <div *ngIf="subscription.daysRemaining > 0; else Expired" class="subscription__remaining">
                  <div class="subscription__remaining-text">
                    <p>Days remaining:</p>
                    <p>{{ subscription.daysRemaining }}</p>
                  </div>
                  <div class="subscription__remaining-bar">
                    <div class="subscription__remaining-bar-content"
                      [style.width]="((subscription.daysRemaining / subscription.daysTotal) * 100) + '%'">
                    </div>
                  </div>
                </div>
  
                <ng-template #Expired>
                  <p class="subscription__expired">Expired</p>
                </ng-template>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  
</div>