.container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
