.subscription {
    display: grid;
    grid-template-columns: 75px auto;
    column-gap: 15px;
    row-gap: 5px;
    position: relative;

    & ~ &--expired {
      margin-top: 15px;
      &::after {
        position: absolute;
        top: -15px;
        content: '';
        width: 100%;
        height: 1em;
        border-top: 1px dashed white;
      }
    }

    &__about {
        display: grid;
        grid-auto-flow: row;
        gap: 5px;
        & p {
          font-size: smaller;
        }
    }
    &__remaining {
      display: grid;
      grid-auto-flow: row;
      gap: 5px;

      &-text {
        display: flex;
        justify-content: space-between;
        & p {
          font-weight: lighter;
          font-size: smaller;
        }
      }

      &-bar {
        height: .5em;
        width: 100%;
        border-radius: 10px;
        background-color: #ddd;
        @media (prefers-color-scheme: dark) {
          background-color: #666;
        }
        &-content {
          height: 100%;
          background-color: yellow;
          border-radius: 10px;
          transition: width 200ms;
        }
      }
    }

    &__renew {
      cursor: pointer;
      user-select: none;
      background-color: #666;
      color: yellow;

      // filter: saturate(0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      height: 2em;
      width: 100px;
    }
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: xx-large;
    line-height: 1em;
    color: yellow;
    &--expired {
        color: inherit;
    }
}