<div class="subscription" [ngClass]="{'subscription--expired': subscription.expired }">
    <div>
      <div class="square icon-container">
        <span
          class="icon {{ iconClass[subscription.subscriptionItem.icon] || '' }}"
          [ngClass]="{ 'icon--expired': subscription.expired}">
        </span>
      </div>
    </div>
    <div >
      <div style="display: grid; grid-auto-flow: row; gap: 5px;">
        <section class="subscription__about">
          <h5>{{ subscription.expired ? '(Expired) ' : '' }}{{ subscription.subscriptionItem?.title }}</h5>
          <p>{{ subscription.subscriptionItem?.description }}</p>
        </section>

        <span *ngIf="subscription.daysRemaining === 0" class="subscription__renew">Renew</span>

        <div *ngIf="subscription.daysRemaining > 0" class="subscription__remaining">
          <div class="subscription__remaining-text">
            <p>Days remaining:</p>
            <p>{{ subscription.daysRemaining }}</p>
          </div>
          <div class="subscription__remaining-bar">
            <div class="subscription__remaining-bar-content"
              [style.width]="((subscription.daysRemaining / subscription.daysTotal) * 100) + '%'">
            </div>
          </div>
        </div>

    </div>
    </div>
  </div>